body {
    font-family: 'Poppins', sans-serif;
    align-items: center;
}
.center {
    display: block;
    margin: 10px auto;
    width: 20%;
    height: 20%;
}
.sizing {
    border: 2px solid;
    padding: 1em;
    margin: 20px auto;
    height: max-content;
    width: max-content;
}
p, article {
    font-size: small;
    text-align: center;
}
.mainheading {
    text-align: center;
    color: white;
    background-color: cornflowerblue;
    box-shadow: 1px 1px 4px rgba(0, 0, 0, .5); 
}
.colorize {
    text-align: center;
    color: white;
    background-color: #7FC7D9;
    box-shadow: 1px 1px 4px rgba(0, 0, 0, .5); 
}
.list-container {
    display: flex;
    flex-flow: wrap;
    margin: 20px;
    align-items: center;
    justify-content: center;
}
ul, li {
    list-style-type: none;
    font-size: small;
    border: solid cornflowerblue 2px;
    width: fit-content;
    height: fit-content;
    margin: 2px 4px;
    padding: 2px 2px;
    background-color: whitesmoke;
}
.smaller {
    text-align: start;
    font-size: smaller;
    margin-left: 4px;
    margin-right: 4px;
}